language: android
sudo: required
jdk: oraclejdk8

android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-27.0.3
  - extra-android-m2repository
  - extra-android-support
  - android-27
  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+

before_install:
- mkdir "$ANDROID_HOME/licenses" || true
- echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55\nd56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
- echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
- chmod +x gradlew
- ./gradlew dependencies || true

notifications:
  email: false

script: 
- ./gradlew build install
    